
h1 My Preferences
br/

/ = render  "home_airports_section", prefs: @prefs  
br/

= render  "new_vacations_form", vacations: @prefs.vacations.order(:start_date), prefs: @prefs
br/

/ = render  "regions_section", prefs: @prefs 