
h1 My Preferences
br/

= render  "vacations_section", vacations: @prefs.vacations.order(:start_date)

= render  "home_airports_section", prefs: @prefs  

/ = render  "regions_section", prefs: @prefs 