header
  h1#all-deals-active-my-deals-linked hidden="hidden=true"
    a> href="" onclick="myDeals(); return false;" My Deals
    || All Deals
  h1#my-deals-active-all-deals-linked hidden="hidden=true" 
    | My Deals |
    a< href="" onclick="allDeals(); return false;" All Deals
  h1#all-deals-signed-out hidden="hidden=true" All Deals

#deals  

javascript:
  function myDeals() {
    $("#my-deals-active-all-deals-linked")[0].hidden = false;
    $("#all-deals-signed-out")[0].hidden = true;
    $("#all-deals-active-my-deals-linked")[0].hidden = true;

    $.get("api/user", user => {
      $("#deals").html(
        user.vacations
          .map(v => new Vacation(v))
          .map(v => v.indexParagraph())
          .join("")
      );
    });
  } 

  let allDealsList;
  function allDeals(signedOut) {
    if (allDealsList) {
      $("#my-deals-active-all-deals-linked")[0].hidden = true;
      $("#all-deals-signed-out")[0].hidden = !signedOut;
      $("#all-deals-active-my-deals-linked")[0].hidden = signedOut;

      $("#deals").html(
        "<br>" +
          allDealsList
            .map(d => new Deal(d))
            .sort((a, b) => b.posted_date > a.posted_date)
            .map(d => d.indexParagraph())
            .join("")
      );
    } else {
      $.get("api/deals", deals => {
        allDealsList = deals;
        allDeals(signedOut);
      });
    }
  }

  let user;
  $(function() {
    debugger
    $.get("api/user", user => {
      if (user) {
        myDeals();
        fetch("api/deals")
          .then(res => res.json())
          .then(json => {
            allDealsList = json;
          });
      } else {
        allDeals(true);
      }
    });
  });
